<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing https://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="bannerstop_keycloak_login" path="/login/keycloak" controller="bannerstop_keycloak.login_controller::start" methods="GET" />
    <route id="bannerstop_keycloak_callback" path="/login/keycloak/callback" controller="bannerstop_keycloak.login_controller::callback" methods="GET" />
</routes>
